<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <br/>
    <br/>
    <title>Add New Student</title>
    </div>
    <style>
    .error {
        color: red;
    }
</style>
</head>
<body>
<div class="container">
    <h3 class="h3 mb-4">Add Student</h3>
    <hr>

    <form action="#" th:action="@{/new/saveStudent}" th:object=${users}  style="width:60%;"
          method="POST">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>


        <div class="input-group mb-5">
            <div class="input-group-prepend">
                <span class="input-group-text" >User Name</span>
            </div>
            <input type="text" th:field="*{username}"class="form-control"   aria-describedby="basic-addon1"></input>

        </div>

        <div class="input-group mb-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">password</span>
            </div>
            <input type="text" th:field="*{password}" class="form-control"  aria-describedby="basic-addon2"/>
        </div>


        <!--        <div class="input-group mb-4 col-4">-->
        <!--            <div class="input-group-prepend">-->
        <!--                <span class="input-group-text">Book Name</span>-->
        <!--            </div>-->
        <!--            <input type="text" th:field="*{name}" class="form-control"/>-->


        <!--            <input type="text" th:field="*{authorName}" class="form-control" />-->


        <!--            <input type="text" th:field="*{category}" class="form-control" />-->


        <!--        </div>-->
        <button type="submit" class="btn btn-info col-4">Add Student</button>
    </form>
    <br/>
    <br/>
    <a th:href="@{/login}">Back to login</a>
</div>
</body>
</html>