<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">


<header>
  <Title>
    Student Book List
  </Title>
  <meta charset="utf-8">
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous">
  <!-- reference our style sheet -->

  <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />

</header>
<Body>

<div id="wrapper">
  <div id="header">
    <h1>Your Catalog </h1>
  </div>
  <div>
    <!-- Admin Add New Team-->
    <a th:href="@{/student/showList}" class="btn btn-info btn-sm">Add From Library</a>
  </div>

</div>
<div id="container">

  <div id="content">
    <div   class="card col-md-3" sec:authorize="hasRole('ROLE_STUDENT')" th:each="theBook: ${books} ">
      <div >
        <span > Book Name: <h2 th:text="${theBook.name}"></h2></span>
        <div class="container">
          <h4>Author Name: <b th:text= "${theBook.authorName}"></b></h4>
          <span>Category: <span th:text= "${theBook.category}"></span></span><br/><br/>
          <a th:href="@{/student/books/{id}(id = ${theBook.id})}" class="btn btn-info btn-sm">Remove</a>
        </div>
      </div>
      <br/>
      </br>
    </div>
    <!--<table>-->
    <!--    <tr>-->
    <!--        <th>Book Name</th>-->
    <!--        <th>Book Author</th>-->
    <!--        <th>Category</th>-->
    <!--        <th>Operation</th>-->
    <!--    </tr>-->


    <!--    <tr scope="row" th:each="theBook: ${books}">-->
    <!--        <td><span th:text="${theBook.name}" ></span> </td>-->
    <!--        <td><span th:text= "${theBook.authorName}"/> </td>-->
    <!--        <td ><span th:text= "${theBook.category}" /></td>-->
    <!--     <td>&ndash;&gt;-->
    <!--            <a th:href="@{/student/books/{id}(id = ${theBook.id})}">Remove</a>-->
    <!--        </td>-->
    <!--    </tr>-->


    <!--</table>-->
  </div>
</div>


<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
<br/>
</form>
</Body>
</html>
